body{
    background:url(../imagenes/amazonas.jpg);
	background-attachment: fixed;
	} 
	.masthead{
    font-size: 20px;
   
	}

	.active{

		 color: green;
	}
	.row{

		color: white;
	}
	.jumbotron{
     background:url(../imagenes/gua.jpg);
     color: white;
width: 1000px:;
	}
	.footer{


		color: white;
	}